body{
  font-family: 'Roboto', sans-serif;
}

#contenedor_res_contra{
  margin-top: 60px;
}

.card{
  margin: 0px auto;
  color: #030303;
  width: 500px;
}  

.card-title{
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.mb-3{
  margin-top: 10px;
}

#correo,#contra,#c_contra{
  border-radius: 10px;
  background: #eeeeee;
}

.form-text{
  font-weight: bold;
}

#span_contra{
  background-color: #dc3545;
  border-radius: 10px;
}

#btn_contra{
  color: #eeeeee;
}

#btn{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;   
} 